<div class="side-top">
  <div class="user">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side-botton">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">

  <div class="room">
    <div class="room-name">
      <a href="#">サーモンroom</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="#">えびroom</a>
    </div>
  </div>

</div>
